<div class="d-flex flex-coloumn" >
  <div class="col-6" style="height: 500px;max-height: 500px;overflow: auto;">
    <div class="d-flex flex-fill flex-column" >
      <div class="d-flex justify-content-around align-items-center p-2">

        <h2 class="m-0">Invoice</h2>
        <div class="alert-primary font-16 ml-4 p-2" role="alert">
          Total Bill : &nbsp; {{totalBill}}
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Type</th>
            <th scope="col">Date</th>
            <th scope="col">Total Fees</th>
            <th scope="col">By</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of accountLedger?.invoices;let index = index">
            <th scope="row">{{index + 1}}</th>
            <td>{{invoice?.contextType}}</td>
            <td>{{invoice?.invoiceDate | date : 'mediumDate'}}</td>
            <td>{{invoice?.invoiceAmount}}</td>
            <td>{{invoice?.creator ?? 'N.A'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-6" style="border-left: 2px solid #427bab;" style="height: 500px;max-height: 500px;overflow: auto;">
    <div class="d-flex flex-fill flex-column">
      <div class="d-flex justify-content-around align-items-center p-2">
        <h2 class="m-0">Payment History</h2>
        <div class="alert-primary font-16 ml-4 p-2" role="alert">
           Received Amount : &nbsp; {{totalReceivedAmount}}
        </div>
      </div>

      <table class="table table-striped">
        <thead style="">
          <tr >
            <th scope="col">No</th>
            <th scope="col">Amount</th>
            <th scope="col">Discount</th>
            <th scope="col">Date</th>
            <th scope="col">By</th>
            <th scope="col">Payment Method</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paymentHistory of accountLedger?.paymentHistory;let index = index">
            <th scope="row">{{index + 1}}</th>
            <td>{{paymentHistory?.receivedAmount}}</td>
            <td>{{paymentHistory?.discountOffered}}</td>
            <td>{{paymentHistory?.receivedDate | date : 'mediumDate'}}</td>
            <td>{{paymentHistory?.receivedBy}}</td>
            <td>{{paymentHistory?.receivedMethod}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
