<div class="">
  <h1>Dashboard</h1>
  <div class="row g-6 mb-6" style="margin-bottom: 16px;">


    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer"  style="height: 115px;min-height: 115px;" (click)="onSelectCard()">
      <div class="card shadow border-0" style="text-align: center;font-size: medium;height: 115px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">Add Member</span>
               <mat-icon mat-mini-fab color="primary" style="font-size: 50px;">person</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer"  style="height: 115px;min-height: 115px;" (click)="onSelectCard()">
      <div class="card shadow border-0" style="text-align: center;font-size: medium;height: 115px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">Pending Payment</span>
               <mat-icon mat-mini-fab color="primary" style="font-size: 50px;">money</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer"  style="height: 115px;min-height: 115px;" (click)="onSelectCard()">
      <div class="card shadow border-0" style="text-align: center;font-size: medium;height: 115px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">Today Received Payment</span>
               <mat-icon mat-mini-fab color="primary" style="font-size: 50px;">money</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer"  style="height: 115px;min-height: 115px;" (click)="onSelectCard()">
      <div class="card shadow border-0" style="text-align: center;font-size: medium;height: 115px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">Today Pending Payment</span>
               <mat-icon mat-mini-fab color="primary" style="font-size: 50px;">money</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="row g-6 mb-6">

    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer"  style="height: 115px;min-height: 115px;" (click)="onSelectCard()">
      <div class="card shadow border-0" style="text-align: center;font-size: medium;height: 115px;">
        <div class="card-body">
          <span class="h6 font-semibold text-muted text-sm d-block mb-2">Today Active Clients</span>
          <span class="h6 font-semibold text-sm d-block mb-2" style="font-size: 22px;color: blue;">1000</span>
        </div>
      </div>
    </div>


    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer"  style="height: 115px;min-height: 115px;" (click)="onSelectCard()">
      <div class="card shadow border-0" style="text-align: center;font-size: medium;height: 115px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">Pending Work</span>
               <mat-icon mat-mini-fab color="primary" style="font-size: 50px;">money</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer"  style="height: 115px;min-height: 115px;" (click)="onSelectCard()">
      <div class="card shadow border-0" style="text-align: center;font-size: medium;height: 115px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">Completed Work</span>
               <mat-icon mat-mini-fab color="primary" style="font-size: 50px;">money</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

   <div class="col-xl-3 col-sm-3 col-12 cursor-pointer"  style="height: 115px;min-height: 115px;" (click)="onSelectCard()">
      <div class="card shadow border-0" style="text-align: center;font-size: medium;height: 115px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-muted text-sm d-block mb-2"></span>
               <mat-icon mat-mini-fab color="primary" style="font-size: 50px;">money</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
