<div class="">

  <div class="d-flex flex-row justify-content-between">
    <div>
      <h1 class="d-flex align-items-center">Dashboard &nbsp;<mat-icon class="color-orange">dashboard</mat-icon></h1>
    </div>
    <div>
      <button mat-mini-fab color="primary" (click)="refreshDashboard()">
        <mat-icon>sync</mat-icon>
      </button>
    </div>
  </div>
  <hr/>
  <div class="row g-6 mb-6" style="margin-bottom: 16px;">
    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer" (click)="onSelectCard()">
      <mat-card style="height: 130px;min-height: 130px;">
        <mat-card-title>
          <div class="alert alert-secondary font-16" style="text-align: center;" role="alert">
            Add New User
          </div>
        </mat-card-title>
        <mat-card-content>
          <div class="d-flex flex-row justify-content-center">
            <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
              <mat-icon>persons</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer" (click)="onSelectCard()">
      <mat-card style="height: 130px;min-height: 130px;">
        <mat-card-title>
          <div class="alert alert-primary font-16" style="text-align: center;color: #1b1e21;" role="alert">
            Total Pending Payment
          </div>
        </mat-card-title>
        <mat-card-content>
          <div class="d-flex flex-row justify-content-center">
            <span style="font-size: 28px;">
              <mat-icon mat-mini-fab color="primary">currency_rupees</mat-icon>
            </span>
            <span style="font-size: 25px;color: red;">{{totalPendingPayment}}</span>
          </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-footer>
          <mat-progress-bar mode="{{showLoader ? 'query' : 'completed'}}" [value]="showLoader ? 50 : 100">
          </mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>


    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer" (click)="onSelectCard()">
      <mat-card style="height: 130px;min-height: 130px;">
        <mat-card-title>
          <div class="alert alert-success font-16" style="text-align: center;color: #1b1e21;" role="alert">
            Total Received Payment
          </div>
        </mat-card-title>
        <mat-card-content>
          <div class="d-flex flex-row justify-content-center">
            <span style="font-size: 28px;">
              <mat-icon mat-mini-fab style="color: green;">currency_rupees</mat-icon>
            </span>
            <span style="font-size: 25px;color: green;">{{totalReceivedPayment}}</span>
          </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-footer>
          <mat-progress-bar mode="{{showLoader ? 'query' : 'completed'}}" [value]="showLoader ? 50 : 100">
          </mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>


    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer" (click)="onSelectCard()">
      <mat-card style="height: 130px;min-height: 130px;">
        <mat-card-title>
          <div class="alert alert-secondary font-16" style="text-align: center;color: #1b1e21;" role="alert">
            Total Active Client
          </div>
        </mat-card-title>
        <mat-card-content>
          <div class="d-flex flex-row justify-content-center">
            <span style="font-size: 28px;">
              <mat-icon mat-mini-fab color="primary">persons</mat-icon>
            </span>
            <span style="font-size: 25px;">{{totalActiveClients}}</span>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <mat-progress-bar mode="{{showLoader ? 'query' : 'completed'}}" [value]="showLoader ? 50 : 100">
          </mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>

  </div>

  <div class="row g-6 mb-6">

    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer" (click)="onSelectCard()">
      <mat-card style="height: 130px;min-height: 130px;">
        <mat-card-title>
          <div class="alert alert-secondary font-16" style="text-align: center;" role="alert">
             Total Pending Work
          </div>
        </mat-card-title>
        <mat-card-content>
          <div class="d-flex flex-row justify-content-center">
            <span style="font-size: 28px;">
              <mat-icon mat-mini-fab color="primary">work</mat-icon>
            </span>
            <span style="font-size: 25px;color: blue;">{{51054}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer" (click)="onSelectCard()">
      <mat-card style="height: 130px;min-height: 130px;">
        <mat-card-title>
          <div class="alert alert-primary font-16" style="text-align: center;color: #1b1e21;" role="alert">
            Today's Bill
          </div>
        </mat-card-title>
        <mat-card-content>
          <div class="d-flex flex-row justify-content-center">
            <span style="font-size: 28px;">
              <mat-icon mat-mini-fab color="primary">currency_rupees</mat-icon>
            </span>
            <span style="font-size: 25px;color: red;">{{todayPendingPayments}}</span>
          </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-footer>
          <mat-progress-bar mode="{{showLoader ? 'query' : 'completed'}}" [value]="showLoader ? 50 : 100">
          </mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>


    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer" (click)="onSelectCard()">
      <mat-card style="height: 130px;min-height: 130px;">
        <mat-card-title>
          <div class="alert alert-success font-16" style="text-align: center;color: #1b1e21;" role="alert">
            Today Received Payment
          </div>
        </mat-card-title>
        <mat-card-content>
          <div class="d-flex flex-row justify-content-center">
            <span style="font-size: 28px;">
              <mat-icon mat-mini-fab style="color: green;">currency_rupees</mat-icon>
            </span>
            <span style="font-size: 25px;color: green;">{{todayReceivedPayment}}</span>
          </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-footer>
          <mat-progress-bar mode="{{showLoader ? 'query' : 'completed'}}" [value]="showLoader ? 50 : 100">
          </mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>



    <div class="col-xl-3 col-sm-3 col-12 cursor-pointer" (click)="onSelectCard()">
      <mat-card style="height: 130px;min-height: 130px;">
        <mat-card-title>
          <div class="alert alert-secondary font-16" style="text-align: center;color: #1b1e21" role="alert">
              Work Completed
          </div>
        </mat-card-title>
        <mat-card-content>
          <div class="d-flex flex-row justify-content-center">
            <span style="font-size: 28px;">
              <mat-icon mat-mini-fab color="primary">work</mat-icon>
            </span>
            <span style="font-size: 25px;color: blue;">{{51054}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
