<div class="toolbar" role="banner">
  <!-- <img width="40" alt="Angular Logo"
    src="../../../assets/images/Account_Stax-removebg-preview.png" /> -->
  <mat-icon style="margin-left: 10px;margin-right: 18px;">logo_dev</mat-icon>
  <a routerLink="/home/dashboard" style="color: white;text-decoration: none;font-size: 20px;">{{clientName}}</a>
  <div class="spacer"></div>
  <div class="right-links" *ngIf="loggedInUser">

    <div class="search-icon d-flex">


      <app-search-component *ngIf="showSearchUI" (onSelectClient)="onSelectCustomer($event)" [showIcon]="false" style="color: black;"></app-search-component>
      <div class="example-button-container">
        <button mat-mini-fab color="primary" aria-label="Search Client" (click)="showSearchUI = !showSearchUI">
          <mat-icon>person_search</mat-icon>
        </button>
      </div>


    </div>

    <div class="logged-in-user">
      <mat-icon size="48px" name="person" type="material" cuClass="icon" Class="profile-icon" >
        account_circle
      </mat-icon>
      <div title="loggedInUser" style="margin-left: 10px;font-size: 16px;">
        {{loggedInUser?.username}}
      </div>
    </div>
  </div>

</div>
