<div class="row" style="padding-left: 19px;justify-content: space-between;padding-right: 19px;">
  <div class="col-6">
    <h2>
      ITR Filled
      <span>
        <button mat-mini-fab color="primary" (click)="onAddITR()">
          <mat-icon>add</mat-icon>
        </button>
      </span>
    </h2>
  </div>
  <div class="col-6 row assesment-year">
    <div class="col-3">
      <span style="margin-left: 17px;">Assesment Year :</span>
    </div>
    <div class="col-9">
       <app-catalog-loader-component [catId]="'YEAR'" placeHolder="Select Assesment Year"
      (onChangeSelection)="onSelectAssesmentYear($event)" [ngModel]="selectedAssesmentYear"></app-catalog-loader-component>
    </div>
  </div>
</div>
<div class="">
  <app-table-component [tableDataSource]="dataSource" [tableConfig]="customerTableConfig"></app-table-component>
</div>
<div *ngIf="showAddItrDrawer">
  <app-drawer-component [opened]="showAddItrDrawer" [headerTitle]="'Add ITR Detials'" (onClose)="onCloseDrawer()">
    <app-customer-add-itr [searchAllowed]="false" [showTitle]="false" [customer]="selectedCustomer">
    </app-customer-add-itr>
  </app-drawer-component>
</div>

<ng-template #receivePayment>
    <app-receive-payment-component [pendingAmount]="selectedITR?.balanceAmount"></app-receive-payment-component>
</ng-template>
