<div class="" >
  <h2 class="mb-0" *ngIf="showTitle">Add Work Details </h2>
  <div class="form-group">
    <div class="row" style="justify-content: end;margin: 0px 0px 28px 0;
    width: 100%;" *ngIf="searchAllowed">
      <app-search-component (onSelectClient)="onSelectCustomer($event)"></app-search-component>
    </div>
  </div>
  <form [formGroup]="addOtheWorkForm">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <label>Name</label>
          <input formControlName="fullName" class="form-control" placeholder="Client Name" readonly
            style="text-transform: uppercase" />
        </div>

        <div class="col-sm-4">
          <label>Pan Number</label><input formControlName="panNumber" class="form-control" placeholder="*Pan Number" style="text-transform: uppercase"
            readonly />
        </div>
        <div class="col-sm-4">
          <label>Aadhaar Number</label><input formControlName="aadhaarNumber" class="form-control"
            placeholder="*Aadhaar Number (XXXX-XXXX-XXXX)" pattern="^\d{4}-\d{4}-\d{4}$" readonly />
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">

        <div class="col-sm-6">
          <label >Client Name <span class="require"> *</span></label> <input formControlName="clientName"  class="form-control"
            placeholder="Enter client name"  />
        </div>

        <div class="col-sm-6">
          <label >Care Of <span class="require"> *</span></label> <input formControlName="careOf"  class="form-control"
          placeholder="Enter Care Of"  />
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label>File Date <span class="require">*</span></label>
          <div class="input-group">
            <app-date-picker-component placeholder="Select File Date" formControlName="fileDate" style="width: 100%;">
            </app-date-picker-component>
          </div>
        </div>
        <div class="col-sm-6">
          <label >Work Done<span class="require"> *</span></label> <input formControlName="work"  class="form-control"
          placeholder="Enter Work Details"  />
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label >Total Fees <span class="require"> *</span></label><input formControlName="totalFees" class="form-control" type="number"
            placeholder="*Total Fees" value="0"  />
        </div>

        <div class="col-sm-6">
          <label >Fees Paid</label> <input formControlName="feesPaid" class="form-control" type="number"
            placeholder="Fees Paid" value="0"  />
            <p class="require" *ngIf="feesPaid?.dirty && feesPaid?.invalid && feesPaid?.errors['invalidFees']">Fees paid
              can not be greater than total fees.</p>
        </div>
      </div>

    </div>

    <div class="form-group">
      <div class="row">
      <div class="col-sm-6">
        <label>Remark</label>
        <textarea  class="form-control" id="remark" formControlName="remark" rows="3" cols="50"></textarea>
      </div>
      <div class="col-sm-6"  style="justify-content: end;display: flex; align-items: flex-end;">
        <button style="height: 45px;" type="button" id="addNew" class="btn btn-primary action-button"
        (click)="onSaveWorkDetails()"
        > Save </button>
        </div>
    </div>
  </div>


  </form>
</div>
