

<div class="row" style="padding-left:19px;justify-content: space-between;padding-right: 19px;">
  <div class="col-6" style="position: absolute;">
    <h2 class="m-0">
      GST Details
      <span>
        <button mat-mini-fab color="primary" (click)="onAddGST()">
          <mat-icon>add</mat-icon>
        </button>
      </span>
    </h2>
  </div>
      <!-- <div class="col-6 row assesment-year">
<div class="col-3">
      <span>Assesment Year :</span>
    </div> -->
    <!-- <div class="col-9">
       <app-catalog-loader-component [catId]="'YEAR'" placeHolder="Select Assesment Year"
      (onChangeSelection)="onSelectAssesmentYear($event)" [ngModel]="selectedAssesmentYear"></app-catalog-loader-component>
    </div>
  </div> -->
</div>
<div class="">
  <app-table-component
    [tableDataSource]="dataSource"
    [tableConfig]="tableConfig" (onSelectProfile)="onSelectClient($event)"></app-table-component>
</div>

<ng-template #showAddGstDrawerViewGST>
  <app-customer-add-gst [searchAllowed]="false" [showTitle]="false" [gstId]="selectedGst?.id" [isDrawerMode]="true">
  </app-customer-add-gst>
</ng-template>
