<div class="clearfix" style="margin-top: 0px;">
  <div class="bg-illustration" style="border-right: 2px solid #ccc;">

  </div>

  <div class="login d-flex" style="padding: 100px;">
    <div class="container">
      <h1 style="color: #1976d2;font-weight: bold;font-size: 38px;">Account Stax</h1>
      <h2>Welcome to Account Stax Management</h2>
      <h3>Please enter login credential</h3>
      <div class="">
        <form [formGroup]="loginForm" (submit)="onlogin()">
          <label for="username">Username</label>
          <div class="form-group row" style="margin-left: 0px;">
            <input type="username" class="form-control" formControlName="username" placeholder="Enter Username">
          </div>
          <label for="password">Password</label>
          <div class="form-group row" style="margin-left: 0px;">
            <input type="{{showPassword ? 'text' : 'password'}}"
              class="form-control"
              formControlName="password"
              placeholder="Enter Password">
            <div class="input-group-append" style="align-items: center;margin-left: -37px;color: #427bab;">
               <mat-icon style="position: absolute;float: right" class="cursor-pointer"
                  *ngIf="showPassword" (click)="showPassword = !showPassword">
                  visibility
              </mat-icon>
               <mat-icon class="cursor-pointer" style="position: absolute;float: right;"
                (click)="showPassword = !showPassword" *ngIf="!showPassword">visibility_off</mat-icon>
            </div>
          </div>
          <p class="require" *ngIf="(loginForm.get('username')?.invalid && loginForm.get('username')?.dirty)
            || (loginForm.get('password')?.invalid && loginForm.get('password')?.dirty)">
            Please enter valid user name and password
          </p>

          <div class="form-group row" style="margin-left: 0px;justify-content: end;" >
            <button class="btn btn-primary" style="width: 145px;"  type="submit" (keyup.enter)="onlogin()">SIGN IN</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
