<div class="row">
  <div class="col-6 d-flex" style="flex-direction: column;" >
    <h2 class="m-0">Payment History</h2>
  </div>
  <div class="col-6">
    <app-search-component (onSelectClient)="onSelectCustomer($event)"></app-search-component>
  </div>
</div>

<mat-card *ngIf="selectedCustomer?.id >0" class="p-0">
  <mat-card-header class="mt-2" style="padding-top: 10px;">
    <mat-card-title class="d-flex flex-row flex-fill">
      <div class="d-flex flex-row">
        <span class="link cursor-pointer color-primary-blue">{{selectedCustomer?.fullName}}</span>
        <div class="alert-warning font-16 ml-4 p-2" role="alert">
          <span class="d-flex justify-content-center">Pending Amount: &nbsp;
            <mat-icon class="font-20">currency_rupees</mat-icon>{{selectedCustomer?.balanceAmount}}
          </span>
        </div>


        <!-- <div class="alert-dark font-16 ml-4 p-2" role="alert">
          Total Bill : {{selectedCustomer?.totalFees}}
        </div>
        <div class="alert-dark font-16 ml-4 p-2" role="alert">
          Received Amount : {{selectedCustomer?.feesPaid}}
        </div> -->
      </div>


      <div class="btn-group justify-content-end" style=" right: 0;
      position: absolute;
      margin-right: 30px;">
        <!-- <a class="font-14 cursor-pointer" style="margin-right: 20px;text-decoration: none;"
          (click)="backClicked()"><span class="d-flex justify-content-center align-items-center">
            <mat-icon>chevron_left</mat-icon>back
          </span></a> -->
        <button class="btn btn-primary dropdown-toggle" [matMenuTriggerFor]="menu">Actions</button>
        <mat-menu #menu="matMenu">
          <!-- <button mat-menu-item (click)="onEditCandidate(selectedCustomer)">Edit</button> -->
          <button mat-menu-item (click)="onReceivePayment(selectedCustomer)">Receive Payment</button>
          <button mat-menu-item (click)="onCreateInvoice(selectedCustomer)">Create Invoice</button>

        </mat-menu>
      </div>
    </mat-card-title>

    <mat-card-subtitle style="margin-bottom: 0">

      <div class="d-flex align-items-center">
        <span>
          <mat-icon class="color-orange">double_arrow</mat-icon>
        </span>
        <span style="font-size: medium;
      font-weight: 500;text-transform: uppercase;">
          Pan No - {{selectedCustomer?.panNo}}
        </span>

        <span style="font-weight: 500;" class="ml-5">
          Last Payment Received : {{ selectedCustomer?.lastPaymentReceivedDate | date : 'medium'}}
        </span>
      </div>

    </mat-card-subtitle>
  </mat-card-header>
  <div>
    <app-client-account-ledger-component [customerId]="selectedCustomer?.id"></app-client-account-ledger-component>
  </div>
</mat-card>

<mat-card style="margin-top: 14px;"  *ngIf="selectedCustomer?.id<=0">
  <mat-card-content class="d-flex justify-content-center align-items-center"
      style="height: 300px;min-height: 300px;margin-top: 14px;">
        <h2>Please select the client to see account details</h2>
  </mat-card-content>
</mat-card>

<ng-template #receivePaymentTemplate>
  <app-receive-payment-component [pendingAmount]="paymentDetail?.balanceAmount" [paymentDetails]="paymentDetail">
  </app-receive-payment-component>
</ng-template>

<ng-template #invoiceTemplate>
<app-create-invoice [customerId]="selectedCustomer?.id">

</app-create-invoice>
</ng-template>
