<div class="search-client" style="width: 500px;">
  <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="searchText" aria-label="Searh Clients"
      (keyup.enter)="searchClients()" placeholder="Pan No / Mobile No / Aadhaar No">
      <mat-icon class="search-close-icon" (click)="onClose()" *ngIf="searchText">close</mat-icon>
    <div class="input-group-append" >
      <span class="input-group-text search-icon">
        <button style="height: 24px;" class="mat-icon-button" (click)="searchClients()">
          <mat-icon>search</mat-icon>
        </button>
      </span>
    </div>
    <p class="require" *ngIf="customers?.length === 0" style="position: absolute;
      top: 45px;">No result found</p>
  </div>
  <div class="input-group" >

    <mat-select #selectClient (change)="onSubmit($event)"
      style="position: absolute;z-index: 100;height: auto;max-height: 400px;overflow-y: auto;" class="input-group search-list"
      *ngIf="customers?.length > 0 && showOptions">
      <mat-option *ngFor="let customer of customers" [value]="value" (click)="onSelectMember(customer)"
        class="cursor-pointer" style="padding: 24px;    width: 100%;
        border-bottom: 2px solid #ccc;
        height: 100px;">
        <div class="row" style="align-items: center;">
          <div class="name-initial">
            {{customer.firstName?.charAt(0)}}{{customer.lastName?.charAt(0)}}
          </div>
          <label>

            {{customer.firstName}} {{customer.middleName || ''}} {{customer.lastName}}
          </label>
        </div>
        <h3 matLine>Pan No - {{customer.panNo | uppercase}} | Aadhaar No - {{customer.aadhaarNo || 'N.A'}} </h3>
      </mat-option>
    </mat-select>
  </div>
</div>
