.search-icon {
  background-color: #1976d2;
  border: 1px solid #1976d2;
  border-radius: 0.25rem;
  color: #fff;
}

.search-list {
  height: 500px;
  background-color: #fff;
}

.search-close-icon {
  position: absolute;
  right: 70px;
  top: 10px;
  font-size: 18px;
  color: #427bab;
  cursor: pointer;
}
.input-group > .custom-file .custom-file-input:focus ~ .custom-file-label,
.input-group > .custom-select:focus,
.input-group > .form-control:focus {
  z-index: 0;
}

