<div style="display: flex;flex-direction: row;">
  <div class="col-sm-6">
    <h2 id="exampleModalLabel" *ngIf="showTitle">Receive Payment</h2>

    <form [formGroup]="receivePaymentForm">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <label>Enter Amount <span class="require">*</span></label>
            <input formControlName="amount" type="number" class="form-control" placeholder="Enter Amount" required />
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <label>Payment Method <span class="require">*</span></label>
            <app-catalog-loader-component [catId]="'PAYMENT'" formControlName="paymentMethod"
              placeHolder="Please Select Payment Method"></app-catalog-loader-component>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="receivePaymentForm.get('paymentMethod')?.value === 'CHEQUE'">
        <div class="row">
          <div class="col-sm-12">
            <label>Cheque Number </label><input formControlName="cheuqeNumber" class="form-control"
              placeholder="Enter Cheuqe Number" required />
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="receivePaymentForm.get('paymentMethod')?.value !== 'CHEQUE'">
        <div class="row">
          <div class="col-sm-12">
            <label>Transaction Number </label><input formControlName="transactionNumber" class="form-control"
              placeholder="Enter Transaction Details" required />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <label>Received By <span class="require">*</span> </label><input formControlName="receivedBy"
              class="form-control" placeholder="Received By" />
          </div>
        </div>
      </div>




      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <label>Date<span class="require">*</span></label>
            <div class="input-group">
              <app-date-picker-component placeholder="Select Date" formControlName="date" style="width: 100%;">
              </app-date-picker-component>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <label>Remark</label>
            <textarea class="form-control" id="remark" formControlName="remark" rows="3" cols="50"></textarea>
          </div>
        </div>
      </div>

    </form>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6" style="justify-content: end;display: flex; align-items: flex-end;">
          <button type="button" id="addNew" class="btn btn-primary action-button"
            (click)="onSavePaymentDetails()">Save</button>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="card">
      <h5 class="card-header">Featured</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
