<div style="display: flex;flex-direction: row;">
  <div class="col-sm-6">
    <h2 id="exampleModalLabel" *ngIf="showTitle">Receive Payment</h2>

    <form [formGroup]="receivePaymentForm">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <label>Enter Amount <span class="require">*</span></label>
            <input formControlName="amount" type="number" class="form-control" placeholder="Enter Amount" required />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <label>Discount Offered</label>
            <input formControlName="discount" type="number" class="form-control" placeholder="Enter Amount" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <label>Payment Method <span class="require">*</span></label>
            <app-catalog-loader-component [catId]="'PAYMENT'" formControlName="paymentMethod"
              placeHolder="Please Select Payment Method"></app-catalog-loader-component>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="receivePaymentForm.get('paymentMethod')?.value === 'CHEQUE'">
        <div class="row">
          <div class="col-sm-12">
            <label>Cheque Number </label><input formControlName="cheuqeNumber" class="form-control"
              placeholder="Enter Cheuqe Number" />
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="receivePaymentForm.get('paymentMethod')?.value !== 'CHEQUE'">
        <div class="row">
          <div class="col-sm-12">
            <label>Transaction Number </label><input formControlName="transactionNumber" class="form-control"
              placeholder="Enter Transaction Details" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <label>Received By <span class="require">*</span> </label><input formControlName="receivedBy"
              class="form-control" placeholder="Received By" />
          </div>
        </div>
      </div>




      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <label>Date<span class="require">*</span></label>
            <div class="input-group">
              <app-date-picker-component placeholder="Select Date" formControlName="date" style="width: 100%;">
              </app-date-picker-component>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <label>Remark</label>
            <textarea class="form-control" id="remark" formControlName="remark" rows="3" cols="50"></textarea>
          </div>
        </div>
      </div>

    </form>


  </div>
  <div class="col-sm-6 container" style=" justify-content: space-between;
  flex-direction: column;
  height: 80vh;
  display: flex">
    <div class="card mb-2">
      <div class="card-header" style="padding-bottom: 5;">
        <div class="row" style="align-items: center;">
          <div class="col-sm-1.5">
            <div class="name-initial" style="height: 40px;width: 40px;border-radius: 40px;">
              {{paymentDetails?.clientName?.charAt(0)}}
            </div>
          </div>
          <div class="col-sm font-14">
            <div>{{paymentDetails?.clientName}}</div>
          </div>
        </div>
      </div>

      <div class="card-body" style="padding-bottom: 0;">
        <div class="container font-18">
          <div class="form-group row font-16" >
            <div class="col-sm-6">
              Pan No
            </div>
            <div class="col-sm d-flex" class="color-orange">
              <span style="text-transform: uppercase;">{{paymentDetails?.panNo}}</span>
            </div>
          </div>
          <hr/>
          <div class="form-group row font-14">
            <div class="col-sm">
              Total Fees
            </div>
            <div class="col-sm d-flex ">
              <span>
                <mat-icon>currency_rupees</mat-icon>
              </span>
              <span>{{paymentDetails?.totalFees}}</span>
            </div>
          </div>
          <div class="form-group row  font-14">
            <div class="col-sm">
              Fees Paid
            </div>
            <div class="col-sm d-flex">
              <span>
                <mat-icon>currency_rupees</mat-icon>
              </span>
              <span>{{paymentDetails?.feesPaid}}</span>
            </div>
          </div>
          <div class="form-group row font-14">
            <div class="col-sm">
              Balance
            </div>
            <div class="form-group col-sm d-flex balance-fees ">
              <span>
                <mat-icon>currency_rupees</mat-icon>
              </span>
              <span>{{paymentDetails?.balanceAmount}}</span>
            </div>
          </div>
          <div class="form-group row font-14">
            <div class="col-sm">
              Discount Offered
            </div>
            <div class="form-group col-sm d-flex balance-fees ">
              <span>
                <mat-icon>currency_rupees</mat-icon>
              </span>
              <span>{{paymentDetails?.discountOffered ?? 0}}</span>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="card " *ngIf="paymentDetails?.balanceAmount<=0">
      <div class="card-body" style="padding-bottom: 0;">
        <div class="container font-18 alert alert-warning">
          <div class="d-flex ">
            <span>
              <mat-icon>warning</mat-icon>
            </span> <span>Note</span>
          </div>
          <div class="d-flex">
            <p class="require">No pending balance found for selected Client</p>
          </div>

        </div>

      </div>
    </div>

    <div class="btn-holder" style="justify-content: flex-end;
    display: flex;">
      <button style="height: 45px;width: 150px;" type="button" id="addNew" class="btn btn-primary"
      (click)="onSavePaymentDetails()" [disabled]="paymentDetails?.balanceAmount<=0"> Receive
    </button>
    </div>
    <!-- <button style="height: 45px;" type="button" id="addNew" class="btn btn-primary action-button"
      (click)="onSavePaymentDetails()" [disabled]="paymentDetails.balanceAmount<=0"> Receive
    </button> -->


  </div>

</div>

