
  <h2 id="exampleModalLabel" >Receive Payment</h2>

<form [formGroup]="receivePaymentForm">
  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <label>Enter Amount</label><input formControlName="amount" class="form-control" placeholder="Enter Amount"
          required />
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <label>Payment Method</label>
        <app-catalog-loader-component [catId]="'PAYMENT'" formControlName="paymentMethod"
          placeHolder="Please Select Payment Method"></app-catalog-loader-component>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <label>Cheuqe Number </label><input formControlName="cheuqeNumber" class="form-control" placeholder="Enter Cheuqe Number"
          required />
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <label>Transaction Details </label><input formControlName="transactionNumber" class="form-control" placeholder="Enter Transaction Details"
          required />
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <label>Received By</label><input formControlName="receivedBy" class="form-control" placeholder="Received By" />
      </div>
    </div>
  </div>



  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <label>Date<span class="require">*</span></label>
        <div class="input-group">
          <input matInput [matDatepicker]="picker" class="form-control" placeholder="*Date" formControlName="date"
            required />
          <div class="input-group-append date-icon">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <label>Remark</label>
        <textarea class="form-control" id="remark" formControlName="remark" rows="3" cols="50"></textarea>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row save-btn-row">
      <div class="col-sm-6" style="justify-content: end;display: flex; align-items: flex-end;">
        <button type="button" id="addNew" class="btn btn-primary action-button"
          (click)="onSavePaymentDetails()">Save</button>
      </div>
    </div>
  </div>

</form>
