<mat-card class="p-0">
  <div class="d-flex justify-content-center align-items-center" style="padding: 14px;">
    <h2 class="m-0">Pending Payments

    </h2>
    <div class="alert-primary font-16 ml-4 p-2" role="alert">
      <span class="d-flex justify-content-center" style="color: black;">Total: &nbsp;
        <mat-icon class="font-20">currency_rupees</mat-icon>{{totalPendingAmount ?? 0}}
      </span>
    </div>
    <div class="d-flex" style="position: absolute;right: 0;">
      <a class="d-flex font-14 cursor-pointer" style="margin-right: 20px;text-decoration: none;"
        (click)="backClicked()"><span class="d-flex justify-content-center align-items-center">
          <mat-icon>chevron_left</mat-icon>back
        </span></a>
    </div>

  </div>

  <mat-tab-group mat-stretch-tabs>
    <mat-tab style="margin-bottom: 10px;">
      <ng-template mat-tab-label style="margin-bottom: 10px;">
        <mat-icon class="mr-2 color-primary-blue">group</mat-icon>
        Active Clients ( {{activeClients?.length ?? 0}} )
      </ng-template>
      <ng-template matTabContent>
        <div class="">
          <app-customer-list-component
            [contextKey]="'total-pending-payments'"
            [allowAddNewClient]="false"></app-customer-list-component>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-2  color-primary-blue">work</mat-icon>
           Other Clients ( {{otherWorks?.length ?? 0}} )
        <!-- <div class="alert-warning font-16 ml-4 p-2" role="alert">
          <span class="d-flex justify-content-center" style="color: black;">Total Amount: &nbsp;
            <mat-icon class="font-20">currency_rupees</mat-icon>{{totalNonActiveClientBill}}
          </span>
        </div> -->
      </ng-template>
      <ng-template matTabContent>
        <app-view-other-work-list-component [showTitle]="false" [fetchServer]="false" [otherWorkList]="otherWorks"></app-view-other-work-list-component>
      </ng-template>

    </mat-tab>
  </mat-tab-group>
</mat-card>
