<div class="">

  <div class="back-btn">
        <mat-icon class="primary">arrow_back</mat-icon>
        <a style="margin-right: 18px" class="cursor-pointer" (click)="backClicked()">Back</a>
  </div>
  <!-- MessageModal Add new Clients-->
  <h2>Create/Edit New Client</h2>

  <form [formGroup]="createCustomerForm">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <input class="form-control" formControlName="firstName" placeholder="*First Name" required />
        </div>
        <div class="col-sm-4">
          <input id="MiddleName" formControlName="middleName" class="form-control" placeholder="Middle Name" />
        </div>
        <div class="col-sm-4">
          <input id="LastName" formControlName="lastName" class="form-control" placeholder="Last Name" />
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label>Father Name <span class="require">*</span></label>
          <input class="form-control" formControlName="fatherName" placeholder="Father Name" required />
        </div>
        <div class="col-sm-6">
          <label>DOB <span class="require">*</span></label>
          <div class="input-group">
            <app-date-picker-component placeholder="Select File Date" formControlName="dob" style="width: 100%;">
            </app-date-picker-component>

          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label>Pan No <span class="require">*</span> </label>
            <input style="text-transform: uppercase"
            formControlName="panNo"
            class="form-control" maxlength="10" placeholder="Pan Number" required />
            <p class="require" *ngIf="panNumber?.dirty && panNumber?.invalid && panNumber?.errors['invalidPanNo']">Please enter valid Pan Number.</p>
        </div>
        <div class="col-sm-6">
          <label>Aadhaar No </label>
          <input class="form-control"
            formControlName="aadhaarNo"
            type="text"
            placeholder="Aadhaar Number(XXXX-XXXX-XXXX)"
            (blur)="formatAddhaarNumber()"
            maxlength="12"/>
            <p class="require" *ngIf="aaDhharNumber?.dirty && aaDhharNumber?.invalid && aaDhharNumber?.errors['invalidAadhaarNo']">Please enter valid Aadhaar Number.</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label>Mobile No </label> <input class="form-control" formControlName="mobileNo" maxlength="10"
            type="tel" placeholder="Mobile Number" required />
        </div>
        <div class="col-sm-6">
          <label>Email </label> <input class="form-control" formControlName="email" type="email" placeholder="Email"
            required />
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label>Street</label> <input class="form-control" formControlName="street" placeholder="Street" />
        </div>
        <div class="col-sm-6">
          <label>City</label> <input class="form-control" formControlName="city" placeholder="City" />
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label>State</label> <input class="form-control" formControlName="state" placeholder="State" />
        </div>
        <div class="col-sm-6">
          <label>Pincode</label><input type="number" class="form-control" formControlName="pincode"
            placeholder="Enter Pin Code" />
        </div>
      </div>
    </div>

    <div class="row save-btn-row">
      <div class="col-sm-12" style="justify-content: end;display: flex;">
        <button type="button" id="addNew" class="btn btn-primary action-button " (click)="onAddNewClient()">{{saveBtnLabel}}</button>
      </div>

    </div>
  </form>
</div>
