.mat-header-cell {
  font-size: 15px;
  color: #fff;
  background-color: #3e93e8;
  opacity: 0.5px;
  font-size: 15px;
  font-weight: 400;
  border-right: 1px solid #fff;

}
.mat-header-cell,
.mat-footer-cell,
.mat-cell {
  min-width: 200px;
  text-align: center;
  box-sizing: border-box;
  text-size-adjust: inherit;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep.mat-paginator .mat-paginator-container {
  color: #1976d2;
  padding: 0px 12px;
  justify-content: flex-end;
}

.search-icon {
  background-color: #1976d2;
  border: 1px solid #1976d2;
  border-radius: 0.25rem;
  color: #fff;
}

.example-container {
  position: relative;
  min-width: 400px;
  min-height: 500px;
  max-height: 560px;
  overflow: auto;
}

.mat-column-fullName {
  min-width: 300px;
  border-right: 1px solid #ccc;
}

tr.mat-header-row {
  height: 42px;
}

.search-section {
  justify-content: end;
  display: flex;
}

.primary-name {
  margin-left: 8px;word-break: break-all;text-decoration: none;color: #0056b3;cursor: pointer;
}
:host ::ng-deep .mat-sort-header-arrow {
  color: #fff;
  opacity: 1;
}
:host ::ng-deep .mat-sort-header-container{
  justify-content: center !important;
  color: #fff;
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}

